{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ app_name }}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        {# <link rel="stylesheet" href="{% static 'css/style.css' %}"> #}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">{{ app_name }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'logout' %}" method="POST" class="nav-link">
                                {% csrf_token %}
                                <button type="submit" class="nav-link btn btn-link" style="padding: 0; margin: 0; vertical-align: bottom;">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="d-flex align-items-center justify-content-center flex-column" style="height: 40vh;">
                <div class="text-center mb-4">
                    <h1 class="mb-3">Welcome to the {{ app_name }} App</h1>
                    <p class="mb-3" style="font-size: 1.25rem; font-weight: bold; color: gray;">Analyze brain scans to detect neuro diseases.</p>
                </div>
                <form id="basicScanForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label for="patient_name" class="form-label">Patient name:</label>
                            <input type="text" class="form-control" name="patient_name" required>
                        </div>
                        <div class="col-md-4">
                            <label for="patient_id" class="form-label">Patient identifier:</label>
                            <input type="text" class="form-control" name="patient_id" required>
                        </div>
                        <div class="col-md-4">
                            <label for="image" class="form-label">Upload images:</label>
                            <input type="file" class="form-control" name="files" id="files" accept="image/*" multiple required>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Analyze</button>
                    </div>
                </form>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-md-6 text-center">
                    <h5>Uploaded Image Preview</h5>
                    <img id="imagePreview" src="#" alt="Image Preview" class="img-fluid mx-auto d-block" style="display: none; max-height: 300px;">
                </div>
                <div class="col-md-6 text-center">
                    <h5>Analysis Result</h5>
                    <div id="analysisResult" style="min-height: 300px;">
                        <!-- Analysis result will be displayed here -->
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document
            .getElementById('files')
            .addEventListener('change', function (event) {
                const reader = new FileReader();
                reader.onload = function () {
                    const img = document.getElementById('imagePreview');
                    img.src = reader.result;
                    img.style.display = 'block';
                }
                if (event.target.files.length > 0) {
                    const previewContainer = document.getElementById('imagePreview');
                    previewContainer.alt = '';
                    previewContainer.innerHTML = '';
                    Array
                        .from(event.target.files)
                        .forEach(file => {
                            const reader = new FileReader();
                            reader.onload = function (e) {
                                const img = document.createElement('img');
                                img.src = e.target.result;
                                img
                                    .classList
                                    .add('img-fluid', 'mx-auto', 'flex', 'mb-2');
                                img.style.height = '100px';
                                img.style.width = '100px';
                                img.style.objectFit = 'cover';
                                img.style.overflow = 'hidden';
                                img.style.borderRadius = '15px';
                                img.style.padding = '5px';
                                previewContainer.appendChild(img);
                            }
                            reader.readAsDataURL(file);
                        });
                }
            });
    </script>
    <script>
        document
            .getElementById('basicScanForm')
            .addEventListener('submit', function (event) {
                event.preventDefault();
                const formData = new FormData(this);
                fetch(this.action, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': document
                            .querySelector('[name=csrfmiddlewaretoken]')
                            .value
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        let resultHTML = '';
                        resultHTML += '<table class="table table-striped table-responsive">';
                        resultHTML += '<thead><tr><th>Image File</th><th>Predicted Class</th><th>Score</th></tr></thead>';
                        resultHTML += '<tbody>';
                        data
                            .predictions
                            .forEach(prediction => {
                                resultHTML += `<tr><td>${prediction.image_file}</td><td>${prediction.predicted_class}</td><td>${prediction.score}</td></tr>`;
                            });
                        resultHTML += '</tbody></table>';
                        document
                            .getElementById('analysisResult')
                            .innerHTML = resultHTML;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
    </script>
</body>
</html>